@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  /* background-color: rgba(0, 0, 0, 0.5); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 500px;
  height: 500px;
}
.inputfields{
  padding: 20px;
  display: flex;
    flex-direction: column;
    align-items: center;
}
input {
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px grey;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
  border: 2px solid blue;
  border-radius: 20x;
  color: #b4886b;
  
  font-family: "Inter Tight", sans-serif;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-out;
}
label {
  margin-bottom: 10px;
  color: #b4886b;
  font-weight: bold;
  display: block;
}
label:after {
  content: ": ";
}
.button-container {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  z-index: 0;
  border-radius: 20px;
}

.video-button {
  position: relative;
  z-index: 1;
  font-weight: bold;
  background: transparent;
  color: wheat;
  border: none;
  padding: 20px 28px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 19px;
  transition: background 0.3s ease;
  font-size: 18px;
  letter-spacing: 4px;
}

.video-button:hover {
  background: rgba(0, 0, 0, 0.5);
}


@media (min-width:320px)  { 
  .box{
    width: 310px;
    height:310px;
    display: block;
    margin: 20px;
  }
  .video-button{
    padding: 10px 14px;
    font-size: 10px;
  letter-spacing: 2px;
    
  }
  label{
    margin-bottom: 6px;
  }
  input{
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 5px rgb(114, 119, 230);
    font-size: 12px;
    font-weight: 1000;
    width: 250px;
    font-family: "Inter Tight", sans-serif;
    letter-spacing: 1px;

  }
 }
@media only screen and (min-width: 480px) {
  /* styles for devices with a maximum screen width of 480px */
  .box{
    width: 400px;
    height:400px;
    display: block;
    margin: 20px;
  }
  button{
    padding: 10px 14px;
    font-size: 14px;
  letter-spacing: 2px;
    
  }
}
  @media only screen and (min-width: 1024px) {
    /* styles for devices with a maximum screen width of 480px */
    .box{
      width: 500px;
      height:500px;
      display: flex;
      margin: 20px;
    }

  
    

  }
  @media only screen and (min-width: 1281px) {
   
    .box{
      width: 600px;
      height:600px;
      display: flex;
      margin: 20px;
    }
  }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

