
h1{
   color: aliceblue;
   margin:0;
   padding:0;
   
}
.mini-header{
   margin-top:0;
   color: aliceblue;
   text-align: end;
}
@media (min-width:320px)  {
   h1{
      font-size: 25px;
   }
   .mini-header{
      color: antiquewhite;
   }
}

